<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--
    线程休眠时间（秒）
    -->
  <timerConfig sleepTime="3" ></timerConfig>
  
  <!--
  省份配置节点
  -->
  <provinceConfig name="fjList" domain="fj" path="E:\Demo\FetionIODemo\FetionIODemo\bin\Debug\Files\fj" ></provinceConfig>
  <provinceConfig name="bjList" domain="bj" path="E:\Demo\FetionIODemo\FetionIODemo\bin\Debug\Files\bj" ></provinceConfig>
  <provinceConfig name="tjList" domain="tj" path="E:\Demo\FetionIODemo\FetionIODemo\bin\Debug\Files\tj" ></provinceConfig>
</configuration>